{
  "extends": "wesbos",
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/display-name": 0,
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "react/button-has-type": 0
  }
}